<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="biz.kulik.android.jaxb.library"
          android:versionCode="1"
          android:versionName="1.0">
    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->
    <application>
        <uses-library android:name="android.test.runner"/>
        <!--<uses-library android:name="com.zutubi.android.junitreport"/>-->
    </application>
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of biz.kulik.android.jaxb.library.  To run the tests use the command:
    "adb shell am instrument -w biz.kulik.android.jaxb.library/android.test.InstrumentationTestRunner"
    -->
    <!--<instrumentation android:name="com.zutubi.android.junitreport.JUnitReportTestRunner"-->
                     <!--android:targetPackage="biz.kulik.android.jaxb.library"-->
                     <!--android:label="Tests for biz.kulik.android.jaxb.library"/>-->

    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="biz.kulik.android.jaxb.library" />
</manifest>
